body {
  font-family: "Cabin", sans-serif;
  color: black;
}

.navbar.navbar-expand-lg.bg-light {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.navbar-brand {
  font-family: "Bodoni Moda", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  /* identical to box height */
  letter-spacing: 0.05em;
}

.nav-link {
  color: black;
}

.nav-item {
  margin-left: 55px;
}

.fa-solid.fa-cart-shopping {
  color: #9b622f;
}
.fa-solid.fa-user {
  color: #9b622f;
}
.nav-link.promo {
  font-size: 12px;
  margin: 3px;
}

.first {
  font-size: 12px;
}
.title-banner {
  font-family: "Playfair Display", serif;
  font-size: 64px;
}
.li-banner {
  list-style: none;
}

.p-5.mb-4.bg-light.rounded-3 {
  background: url("assets/img/Banner1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 516px;
}

.btn.btn-primary-banner.btn-lg {
  background-color: #9b622f;
  border-radius: 0px;
  font-size: 18px;
  padding: 20px 20px;
  color: white;
  align-items: center;
  line-height: 18px;
  font-family: "Poppins", sans-serif;
}

.line {
  background-color: rgba(0, 0, 0, 0.8);
  width: 25px;
  height: 1px;
  margin-top: 9px;
  margin-right: 10px;
}
.after-line {
  font-size: 12px;
}
.end-line {
  color: #868686;
  font-size: 12px;
}
.text-services {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 700;
}
.text-services-second {
  color: #868686;
}

#services {
  position: relative;
  text-align: left;
}

.combox {
  padding: 5%;
  text-align: left;
}

.sub-title {
  font-weight: 700;
  font-size: 14px;
}

.sub-titles {
  color: #868686;
  font-size: 14px;
  line-height: 17px;
}
.ico-services {
  color: #9b622f;
  font-size: 1.5rem;
}

#products {
  position: relative;
}
.col-md-auto.highlight-product {
  background: url("./assets/img/bgproducts/1.png");
  background-size: 100% 100%;
  width: 636px;
  height: 390px;
}
.col-md-auto.highlight-product-2 {
  background: url("./assets/img/bgproducts/2.png");
  background-size: 100% 100%;
  width: 636px;
  height: 390px;
}

.col.col-md-3.product-1 {
  background: url("./assets/img/bgproducts/2.png");
  background-size: 100% 100%;
}
.col.col-md-3.product-2 {
  background: url("./assets/img/bgproducts/4.png");
  background-size: 100% 100%;
}
.col.col-md-3.product-3 {
  background: url("./assets/img/bgproducts/5.png");
  background-size: 100% 100%;
}
.images-product {
  padding: 0%;
  margin: 0%;
}
.product-title {
  padding-top: 150px;
  margin: 0%;
  color: black;
}
.product-titles {
  margin: 0%;
  margin-top: -10px;
  color: black;
}

.link-titles {
  color: black;
}

.highlight.my-5 {
  width: 100%;
  height: 400px;
}

.title-highlight {
  padding: 3%;
  font-family: "Playfair Display", sans-serif;
}

.description-highlight {
  padding: 2%;
  margin-top: -25px;
  font-size: 16px;
  margin-left: 5px;
}

.description-high-all {
  margin-top: 15%;
  margin-left: 2%;
}

.img-thumb {
  padding-left: 25%;
  margin-top: 0px;
  margin-bottom: 10%;
}

#highlight {
  margin-bottom: 220px;
}

.best-thumb {
  background-image: url("/assets/img/bgproducts/best.png");
  background-size: cover;
  height: 518px;
  width: 412px;
  position: absolute;
}

.best-title {
  margin-left: 40px;
  margin-top: 90px;
  font-family: "Playfair Display", serif;
}

.btn.btn-primary-banner.btn-lg.best-product {
  background-color: #9b622f;
  border-radius: 0px;
  font-size: 12px;
  padding: 10px 10px;
  color: white;
  line-height: 18px;
  font-family: "Poppins", sans-serif;
  margin-left: 40px;
}

.detail {
  margin-top: -11px;
  text-align: center;
}

.price-best {
  color: #868686;
}

.card.best-product {
  border: none;
  border-radius: 0;
  background-color: #f2f2f2;
}

#blogs {
  background-color: #f7f7f7;
}

.text-center.blogs {
  font-family: "Playfair Display", serif;
  padding-top: 1.5rem;
}

.blogs-card {
  margin: 0%;
  padding: 2%;
}

.card.card-blogs {
  border: none;
  border-radius: 0px;
}

.card-img-top.img-blogs {
  border-radius: 0px;
}
.card-title.title-blogs {
  font-size: 16px;
}
.card-text.text-blogs {
  font-size: 11.5px;
  color: #9a9a9a;
}
.footer-blogs {
  font-size: 10px;
  color: #9a9a9a;
}
.beauty {
  margin-top: -20px;
}

.btn-blogs {
  background-color: #242424;
  color: white;
  margin: 0px;
  padding: 0px;
  position: relative;
  z-index: 1;
  top: -15px;
  left: 204px;
  width: 83.16px;
  height: 27.88px;
  font-size: 12px;
  border: none;
}

.text-center.get-inspired.mt-5 {
  font-family: "Playfair Display";
}

.fa-brands.fa-instagram.ms-1 {
  color: #9b622f;
}
.user-ig {
  color: #9b622f;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.img-swiper {
  width: 75%;
  height: 75%;
  margin-bottom: 50px;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

#promo-footer {
  background-color: #9b622f;
  display: relative;
}
.container.promo-footer {
  color: white;
}
.promo {
  font-size: 28px;
}
.promo-detail {
  font-size: 14px;
  margin-top: 12px;
}

.btn.btn-promo {
  color: #9b622f;
  background-color: #ffffff;
  width: 166px;
  height: 35px;
  font-size: 12px;
  border-radius: 0;
  margin-left: 20px;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
}

#footer {
  background-color: #252525;
  color: #ffffff;
  height: 295px;
}
.img-payment {
  height: 70px;
  width: 100px;
}

.text-footer.text-end {
  font-size: 14px;
  margin-right: 230px;
  margin-top: -45px;
}

.title-footer {
  font-family: "Bodoni Moda", serif;
}

@media (max-width: 767.98px) {
  .p-5.mb-4.bg-light.rounded-3 {
    background: url("assets/img/Banner1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 234.47px;
    width: fit-content;
  }

  .first {
    font-size: 6px;
  }
  .title-banner {
    margin-top: -50px;
    font-family: "Playfair Display", serif;
    font-size: 32px;
  }
  .li-banner {
    list-style: none;
  }

  .btn.btn-primary-banner.btn-lg {
    background-color: #9b622f;
    border-radius: 0px;
    font-size: 9px;
    padding: 10px 10px;
    color: white;
    align-items: center;
    line-height: 9px;
    font-family: "Poppins", sans-serif;
  }

  .line {
    background-color: rgba(0, 0, 0, 0.8);
    width: 25px;
    height: 1px;
    margin-top: -70px;
    margin-right: 5px;
  }
  .after-line {
    font-size: 9px;
    margin-top: -75px;
  }
  .end-line {
    color: #868686;
    font-size: 12px;
  }

  .services-box {
    padding: 0;
  }
  .nav-item-right {
    position: relative;
  }

  #services {
    position: relative;
    text-align: left;
  }

  .combox {
    padding: 5%;
    text-align: left;
  }

  .sub-title {
    font-weight: 700;
    font-size: 12px;
  }

  .sub-titles {
    color: #868686;
    font-size: 12px;
    line-height: 17px;
  }
  .ico-services {
    color: #9b622f;
    font-size: 1.5rem;
  }
}
